[submodule "platform/sdl/SDL"]
	path = platform/sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "platform/sdl/NFD"]
	path = platform/sdl/NFD
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "platform/sdl/SDL_ttf"]
	path = platform/sdl/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
